@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

:root {
    --primary-color: #fc6363;
    --secondary-color:#5b757f;
    --light-color:#eaeaea;
    --small-g-color: #3d4b51;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}
p {
    line-height: 1.8;
}
.box{
    border: 1px solid red;
}
#topnav ul li a{
    color:white;
}

.logo{
    height: 100px;
}

.logofoot{
    height: 150px;
}

.heading-text{
    color: var(--primary-color);
}

.small-text{
    color:var(--secondary-color);
}

.light-text{
    color:var(--light-color);
}


.btn-cta{
    color:#fc6363;
    background-color: #fff;
    box-shadow: 4px 4px 11px rgba(0,0,0, 0.3);
}


/* hero section */
.header {
    position: relative;
    min-height: 100vh;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.polygon {
    width: 100vw;
    height: 65vh;
    background-color:  var(--primary-color);
    position: relative;
}
.polygon:after {
    /* width: 100vw; */
    /* height: 125px; */
    content: '';
    display: block;
    /* background-color: #007bff; */
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translateY(100%);
    border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 13vw solid var(--primary-color);
}
.hero-bg {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    z-index: -1;
}

.logo-pat{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 150px;
    left: 0;
}

.pat1{
    position: absolute;
    left:0;
    z-index: -1;
    max-width: 15%;
}

.pat2{
    position: absolute;
    right:0;
    z-index: -1;
    max-width: 15%;
}

.brands1{
    position: relative;
    padding-bottom: 250px;

}

.slashed-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
}

.vertical-center {
    align-items: center;
    justify-content: center;
}
.height-500 {
    min-height: 600px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 576px;
    margin: auto;
    color: #fff;
}
hr {
    margin-left: 0;
    border-top-color: rgba(0,0,0, 0.3);
}

.scroll-down {
    color: #212331;
    display: block;
    border: 1px solid var(--primary-color);
    margin-top: -3rem;
    height: 2.8rem;
    width: 1.7rem;
    border-radius: .9rem;
    z-index: 1111;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
        bottom: 20px;
}

.scroll-down::before{
    content:"";
    background: var(--primary-color);
    width:.15rem;
    height:.7rem;
    margin-left:.4rem;
    margin-top:.1rem;
    position:relative;
    opacity:1;
    top:.3rem;
    left:.3rem;
    display:block;
    border-radius:.25rem;
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-animation-name:scrollUpDown;
    animation-name:scrollUpDown;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}

@-webkit-keyframes scrollUpDown{
    0%,to{
        height:.5rem;
        margin-top:.2rem
    }
    25%,75%{
        height:1.6rem;
        margin-top:.2rem
    }
    50%{
        height:.5rem;
        margin-top:1.3rem
    }
}
@keyframes scrollUpDown{
    0%,to{
        height:.5rem;
        margin-top:.2rem
    }
    25%,75%{
        height:1.6rem;
        margin-top:.2rem
    }
    50%{
        height:.5rem;
        margin-top:1.3rem
    }
}

img{
    max-width: 100%;
}

.column-4 {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 1rem;
    width: 0%;
}
.column-3 {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 1rem;
    width: 0%;
    max-width: 250px;
}


#footer a {
    color: var(--light-color);
}
/* flipping cards */
#solutions .item {
    position: relative;
    margin: 1rem;
    max-width: 250px;
    min-height: 200px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0, 0.1);
    margin: auto;
    /* background-color: #fff; */
    border-image: radial-gradient(rgba(0,0,0,0.08),transparent) .5;
}
.item-content {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid #dadada; */
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 0.3s;
}
.item-content img {
    width: 50px;
    margin: auto;
}
.item .item-front, .item .item-back, {
    position: absolute;
}
.item:hover .item-front{
    transform: rotateY(180deg);
    opacity: 0;
}
.item .item-back{
    transform: rotateY(-180deg);
    opacity: 0;
}
.item:hover .item-back{
    transform: rotateY(0deg);
    opacity: 1;
}
#solutions:before {
    content: '';
    width: 120vw;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: -10%;
    background-color: #f8fafc;
    z-index: -1;
    transform: rotate(-4deg);
}
@media (max-width: 1199px) {
    #topnav {
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999999;
    }
    .logo-pat {
        display: none;
    }
    .logo {
        height: 55px;
    }
    #topnav ul li a {
        color: var(--primary-color);
        text-align: right;
    }

    .column-4 {
        width: 39%;
        /* flex-basis: 50%; */
    }
}
@media (max-width: 767px) {
    .pat1, .pat2 {
        display: none;
    }
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.view img, .view video {
    position: relative;
    display: block;
}
.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.rgba-white-slight {
    background-color: rgba(255,255,255,.1);
}

/* team */
#team {
    background-color: #FAFAFA;
}
.people {
    padding: 1rem 0 1.5rem;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-image: radial-gradient(rgba(0,0,0,0.08),transparent) .5;
}
.people .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    /* background: var(--primary-color); */
    position: relative;
    z-index: 1;
}
.people .pic:before {
    content: '';
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.people:hover .pic:before {
    height: 100%;
}

.people .pic:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.people .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.people:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.people .people-content {
    margin-bottom: 30px;
}
.people-content .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.people-content .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
.people-info {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    transform: translateY(0px);
    opacity: 0;
    transition: all 0.3s ease;
}
.people:hover .people-info {
    transform: translateY(-100px);
    opacity: 1;
}
.people .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.people:hover .social {
    bottom: 0;
}
.people .social li {
    display: inline-block;
}
.people .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}

.people .social li a:hover{
    color: var(--primary-color);
    background: #f7f5ec;
    text-decoration: none;
}