@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

:root {
    --primary-color: #fc6363;
    --secondary-color:#5b757f;
    --light-color:#eaeaea;
    --small-g-color: #3d4b51;
    --box-shadow:  4px 7px 58px 0px rgba(111,111,111,0.2);
    /* --box-shadow:  4px 7px 58px 0px rgba(8,113,222,0.2); */
}
.loader {
    position: fixed;
    z-index: 999999999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.loader svg {
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader svg #v {
    transform: rotateX(360deg);
    transform-origin: 11%;
    animation: spin 4s infinite;
}
.loader svg #e {
    transform: rotateX(360deg);
    transform-origin: 22%;
    animation: spin 4s 0.25s infinite;
}
.loader svg #n {
    transform: rotateX(360deg);
    transform-origin: 33%;
    animation: spin 4s 0.5s infinite;
}
.loader svg #t {
    transform: rotateX(360deg);
    transform-origin: 44%;
    animation: spin 4s 0.75s infinite;
}
.loader svg #u {
    transform: rotateX(360deg);
    transform-origin: 58%;
    animation: spin 4s 1s infinite;
}
.loader svg #r {
    transform: rotateX(360deg);
    transform-origin: 68%;
    animation: spin 4s 1.25s infinite;
}
.loader svg #e2 {
    transform: rotateX(360deg);
    transform-origin: 80%;
    animation: spin 4s 1.5s infinite;
}
.loader svg #s {
    transform: rotateX(360deg);
    transform-origin: 91%;
    animation: spin 4s 1.75s infinite;
}
@keyframes spin {
    /* 100% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    25% {
        transform: rotateY(360deg);
    }
    0% {
        transform: rotateY(360deg)
    } */
    from {
        transform: rotateY(360deg)
    }
    50%,to {
        transform: rotateY(0deg)
    }
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: hidden;
}
p {
    line-height: 1.8;
}
.box{
    border: 1px solid red;
}
#topnav ul li a{
    color:white;
}

.logo{
    height: 100px;
}

.logofoot{
    height: 150px;
}

.heading-text{
    color: var(--primary-color);
}

.small-text{
    color:var(--secondary-color);
}

.light-text{
    color:var(--light-color);
}


.btn-cta{
    color:#fc6363;
    background-color: #fff;
    box-shadow: 4px 4px 11px rgba(0,0,0, 0.3);
}


/* hero section */
.header {
    position: relative;
    min-height: 100vh;
    /* background: linear-gradient(90deg, rgba(248,126,51,1) 0%, rgba(252,99,99,1) 100%); */
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.polygon {
    width: 100vw;
    height: 98vh;
    /* background-color:  var(--primary-color); */
    background: rgb(248,126,51);
    background: linear-gradient(90deg, rgba(248,126,51,1) 0%, rgba(252,99,99,1) 100%);
    position: relative;
}
.polygon:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(0%);
    border-left: 0vw solid transparent;
    border-right: 50vw solid transparent;
    /* border-top: 13vw solid transparent; */
    border-bottom: 10vw solid #fff;
}
.polygon:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    transform: translateY(0%);
    border-left: 50vw solid transparent;
    border-right: 0vw solid transparent;
    /* border-top: 13vw solid transparent; */
    border-bottom: 10vw solid #fff;
}
.hero-bg {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    z-index: -1;
}

.logo-pat{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 150px;
    left: 0;
}

.pat1{
    position: absolute;
    left:0;
    z-index: -1;
    max-width: 15%;
}

.pat2{
    position: absolute;
    right:0;
    z-index: -1;
    max-width: 15%;
}

.brands1{
    position: relative;
    padding-bottom: 250px;

}

.slashed-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
}

.vertical-center {
    align-items: center;
    justify-content: center;
}

.verticle-more{
    height: 360px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.verticle-more .more-btn {
    text-decoration: none;
    color: var(--primary-color);
}

.height-500 {
    min-height: 600px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 576px;
    margin: auto;
    color: #fff;
}
hr {
    margin-left: 0;
    border-top-color: rgba(0,0,0, 0.3);
}


img{
    max-width: 100%;
}

.column-4 {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 1rem;
    width: 0%;
}
.column-3 {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 1rem;
    width: 0%;
    max-width: 250px;
}


#footer a {
    color: var(--light-color);
}
/* flipping cards */
#solutions .item {
    position: relative;
    margin: 1rem;
    max-width: 250px;
    min-height: 200px;
    box-shadow: var(--box-shadow);
    margin: auto;
    background-color: #fff;
    border-image: radial-gradient(rgba(0,0,0,0.08),transparent) .5;
    border-radius: 10px;
}
.item-content {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid #dadada; */
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 0.3s;
}
.item-content img {
    height:40px;
    margin: 20px auto;
}
.item .item-front, .item .item-back, {
    position: absolute;
}
.item:hover .item-front{
    transform: rotateY(180deg);
    opacity: 0;
}
.item .item-back{
    transform: rotateY(-180deg);
    opacity: 0;
}
.item:hover .item-back{
    transform: rotateY(0deg);
    opacity: 1;
}
#solutions:before {
    content: '';
    width: 120vw;
    height: 120%;
    position: absolute;
    display: block;
    top: -47px;
    left: -10%;
    background-color: #f8fafc;
    z-index: -1;
    transform: rotate(-4deg);
}

@media (max-width: 1199px) {
    #topnav {
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999999;
    }
    .logo-pat {
        display: none;
    }
    .logo {
        height: 55px;
    }
    #topnav ul li a {
        color: var(--primary-color);
        text-align: right;
    }

    .column-4 {
        width: 39%;
        /* flex-basis: 50%; */
    }
}
@media (max-width: 767px) {
    .pat1, .pat2 {
        display: none;
    }
    .hero {
        padding-top: 5rem;
    }
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.view img, .view video {
    position: relative;
    display: block;
}
.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.rgba-white-slight {
    background-color: rgba(255,255,255,.1);
}

/* team */
#team {
    /* background-color: #FAFAFA; */
    position: relative;
    min-height: 756px;
}
#team::before {
    /* content: ''; */
    width: 120vw;
    height: 134%;
    position: absolute;
    display: block;
    top: -24%;
    left: -10%;
    background: #FAFAFA;
    z-index: -1;
    transform: rotate(-4deg);
}
/* .people {
    padding: 1rem 0 1.5rem;
    text-align: center;
    overflow: hidden;
    position: relative;

}
.people:hover {
    background-color: #ffffff;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0, 0.1);
}
.people .pic {
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.people .pic:before {
    content: '';
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.people:hover .pic:before {
    height: 100%;
}

.people .pic:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.people .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.3s ease 0s;
}
.people:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.people .people-content {
    margin-bottom: 30px;
}
.people-content .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.people-content .post {
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
.people-info {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    transform: translateY(0px);
    opacity: 0;
    transition: all 0.3s ease;
}
.people:hover .people-info {
    transform: translateY(-100px);
    opacity: 1;
}
.people:hover .people-content {
    opacity: 0;
}
.people .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.people:hover .social {
    bottom: 0;
}
.people .social li {
    display: inline-block;
}
.people .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}

.people .social li a:hover{
    color: var(--primary-color);
    background: #f7f5ec;
    text-decoration: none;
} */
#team .item {
        margin: 5px 30px 40px 0px;
    box-shadow: var(--box-shadow);
}
.people {
    /* border: 1px solid rgba(0,0,0, 0.1); */
    /* box-shadow: var(--box-shadow); */
    overflow: hidden;
}
.people-content {
    position: relative;
    background-color: #fff;
    /* overflow: hidden; */
}
.people:hover img {
    opacity: 0;
}
.people:hover .people-img {
    height: auto;
}
.people:hover .people-content {
    height: 200px;
}
.people-img {
    position: relative;
    overflow: hidden;
    background: url(https://media.tenor.com/images/a1228ad71951d963835e3ed1f2514cdc/tenor.gif) center center no-repeat;
    background-size: cover;
    height: 200px;
}
.people-img:before {
    content: '';
    width: 200%;
    height: 30%;
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    transform: rotate(-10deg);
    transition: all 0s;
    left: -1%;
}
.people-content {
    padding: 10px;
    text-align: center;
    height: 130px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.people-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.people-content .info, 
.people-content .description {
    position: absolute;
    width: calc(100% - 20px);
}

.people-content .info {
    opacity: 1;
    background-color: #fff;
    transform: translateY(0px);
}
.people-content .description {
    opacity: 0;
    background-color: #fff;
    transform: translateY(100px);
    transition: all 0.3s ease;
}
.people:hover .people-content .info {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease;
}
.people:hover .people-content .description {
    opacity: 1;
    transform: translateY(0px);
}
.people-content .designation {
    font-size: 14px;
    color: var(--primary-color);
}
/* .owl-stage-outer { 
    padding: 30px;
    margin: 30px;
} */
/* input */
.form-input {
  margin: 40px 0;
  width: 100%;
}
.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
  color: #9E9E9E;
}
.form-input .placeholder {
  position: absolute;
  display: block;
  top: 23px;
  z-index: 2;
  font-size: 14px;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
  left: 20px;
}
.form-input input,
.form-input textarea {
  position: absolute;
  top: 15px;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #9E9E9E;
  transition: border-color 200ms ease-in-out;
  outline: none;
  padding: 0;
  margin: 0;
}
.form-input textarea {
  /* min-height: 30px; */
  padding: 8px 0;
}
.form-input input {
  height: 30px;
}
.form-input input:focus,
.form-input input:valid,
.form-input textarea:focus,
.form-input textarea:valid {
  border-bottom: 2px solid var(--primary-color);
}
.form-input input:focus + .placeholder,
.form-input input:valid + .placeholder,
.form-input textarea:focus + .placeholder,
.form-input textarea:valid + .placeholder {
  top: 0;
  left: 0;
  cursor: inherit;
  font-size: 14px;
  color: var(--primary-color);
}

/*  contact form */
.contact-card {
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
}
#contact {
    position: relative;
    padding-top: 10rem;
}
.btn-send {
    padding: 0.5rem 2.5rem;
}
.btn-gradient {
    background: rgb(248,126,51);
    background: linear-gradient(90deg, rgba(252,99,99,1) 0%, rgba(248,126,51,1) 100%);
    box-shadow: 4px 4px 11px rgba(0,0,0, 0.3);
    color: #fff;
}
/* .btn-gradient:hover {
    box-shadow: 4px 4px 11px rgba(0,0,0, 0.3);
} */
#contact::before {
    content: '';
    width: 120vw;
    height: 114%;
    position: absolute;
    display: block;
    top: 0;
    left: -10%;
    background: rgb(248,126,51);
    background: linear-gradient(90deg, rgba(248,126,51,1) 0%, rgba(252,99,99,1) 100%);
    z-index: -1;
    transform: rotate(-4deg);
}

.case-tabs a{
       color: #dadada;
}

.case-tabs a.active{
       color: var(--secondary-color);
}

.card{
    border-color: transparent;
}

#case-studies .item {
    box-shadow: var(--box-shadow); 
    margin: 35px;
    border-radius: 10px;
    overflow: hidden;
}
#case-studies .btn {
    font-size: 12px;
}

.btn-rounded{
    border-radius: 50px;
}

.btn-outline-primary{
    background-color: #ffefe8;
    color: #fc6363;
    border-color: transparent;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.btn-outline-primary:hover,
.btn-outline-primary:active{
    color: #ffefe8;
    background-color: #fc6363;
    border-color: transparent;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-theme.js-brands .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f97a3a;
}

.case-more-nav{
    display: none;
}

#contact .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary-color);
    background-color: transparent;
    font-size: 1.6rem;
}
#contact .contact-tab .nav-link:not(.active) {
        color: var(--secondary-color);
        font-size: 1.6rem;
        transform: scale(0.7);
}
video {
    max-width: 100%;
}
#ads video{
    max-height: 400px;
}
#ads .nav-tabs{
    border: none;
}
#ads .nav-tabs .nav-link.active {
    /* border: none; */
    color: #f97a3a;
    /* color: #fff; */
}
#ads .nav-tabs a {
    color: #696969;
    border: 1px solid #eff0f4;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 5px 0 hsla(0,0%,85%,.6);
    font-size: 14px;
    background-color: #fff;
}
#ads .nav-pills .nav-link {
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 2px;
    /* box-shadow: 0 2px 5px 0 hsla(0,0%,85%,.6); */
}
#ads .nav-pills .nav-link.active {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #fb655e;
}
#ads .img-thumbnail {
    height: 250px;
}
#ads .img-thumbnail.img-portrait {
    height: 400px;
}
#ads{
    position: relative;
}
#ads::before {
    content: '';
    width: 120vw;
    height: 120%;
    position: absolute;
    display: block;
    top: -10%;
    left: -10%;
    background: rgb(248,126,51);
    background: linear-gradient(90deg, rgba(248,126,51,1) 0%, rgba(252,99,99,1) 100%);
    z-index: -1;
    transform: rotate(-4deg);
}

.scroll-down {
    position: relative;
}
.scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.scroll-down span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.scroll-down span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scroll-down span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: 15%;
}